body {
  margin: 0;
  /*Margent interna de cero*/
  padding: 0;
  /*Se acomoda al 100% del tamaño*/
  height: 100%;
  width: 100%;
  /*El cursor esta por default para el body*/
  cursor: default;
  /*No puedo seleccionar ningun elemento*/
  /*El prefijo de webkit es para usarlo en chrome*/
  -webkit-user-select: none;
  /*El prefijo de moz es para mozilla*/
  -moz-user-select: none;
  user-select: none;
}

.section_hist {
  /*No se puede ver*/
  visibility: hidden;
  padding: 0;
  margin: 0;
  /*Se relaciona respecto a su ancestro pero no con otros elementos*/
  position: absolute;
  /*Lo relaciona de manera diferente al body*/
  width: 100%;
  height: 100%;
  /*No tendra background*/
  background-color: transparent;
}

.history_details {
  float: left;
  padding: 0;
  margin: 0;
  position: relative;
  width: 80%;
  height: 100%;
  background-color: cadetblue;
}

.history_details_con{
  padding: 40px;
}

.all_li{
  padding-top: 10px;
}

.history_items {
  color: wheat;
  font-size: large;
}

.history__clr_btn {
  outline: none;
  border: none;
  height: 40px;
  width: 80px;
  border-radius: 5px;
  margin: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.history_empty {
  float: right;
  padding: 0;
  margin: 0;
  position: relative;
  width: 20%;
  height: 100%;
  background-color: transparent;
}





.section_calc {
  /*Cambiar la posición de un elemento posicionado en el eje z*/
  /*Lo pone antes que todo*/
  z-index: -1;
  padding: 0;
  margin: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: cadetblue;
}

.top_container {
  position: relative;
  width: 100%;
  height: 30%;
  background-color: wheat;
}

.top_btns_group {
  position: relative;
  height: 20%;
  width: 100%;
}

.history_btn{
  width: 80px;
  height: 100%;
  /*No tengo ni borde ni outline*/
  outline: none;
  border: none;
  /*Las caracteristicas del borde se pueden editar individualmente*/
  border-bottom-right-radius: 25px;
}

/*Cambia el color cuando paso el mouse*/
.history_btn:hover {
  /*Por este color*/
  background-color: rgb(247, 136, 116);
  /*Con este color de letra*/
  color: white;
}

.result_container{
  position: relative;
  height: 80%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
}

.result_label{
  padding: 20px;
  width: 100%;
  text-align: right;
  position: relative;
  font-size: larger;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.bottom_container{
  position: relative;
  width: 100%;
  /*Por que el top container tiene el 30%*/
  height: 70%;
  background-color: cadetblue;
}

.left_container {
  float: left;
  position: relative;
  height: 100%;
  width: 80%;
}

.left_row{
  position: relative;
  width: 100%;
  height: 25%;
  display: flex;
}

.left_row_item{
  position: relative;
  height: 100%;
  width: 33.33%;
}

.left_btns {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: cadetblue;
  font-size: 28px;
  color: gainsboro;
  outline: none;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
}

.left_btns:hover {
  background: rgb(95, 158, 160);
  background: radial-gradient(circle, rgba(110, 182, 184, 1) 0%, rgba(95, 158, 160, 1) 70%);
}

.right_container {
  float: right;
  position: relative;
  height: 100%;
  width: 20%;
  background-color: rgb(113, 189, 192);
}

.right_row_item {
  position: relative;
  height: 20%;
  width: 100%;
}

.right_btns{
  position: relative;
  height: 100%;
  width: 100%;
  background-color: rgb(113, 189, 192);
  font-size: large;
  color: gainsboro;
  outline: none;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
}

.right_btns:hover {
  background: rgb(113, 189, 192);
  background: radial-gradient(circle, rgba(99, 168,170, 1) 0%, rgba(113, 189, 192, 1) 70%);
}